/* ---------- Variables ---------- */

:root {
    --black: #1E1E1E;
    --white: #FFFFFF;

    --y_gap: 35px;
    --x_padding: 10px;
    --y_padding: 25px;
}


/* ---------- CSS Reset ---------- */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    line-height: 1.5;
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

button {
    background-color: unset;
    border: unset;
}

a {
    text-decoration: unset;
    color: unset;
}

#root,
#__next {
    isolation: isolate;
}


/* ---------- Main ---------- */

body {
    color: var(--black);
    text-align: center;

    & h1 {
        text-transform: uppercase;
        padding: var(--y_gap) 0;
        font-size: 3rem;
    }

    & main {
        display: flex;
        flex-direction: column;

        & #main_desc {
            text-decoration: underline;
            font-weight: 600;
            font-size: 1.2rem;
        }

        & #filter_sort {
            display: flex;
            justify-content: center;
            gap: 5%;
            margin-top: var(--y_gap);

            & button {
                background-color: var(--black);
                color: var(--white);
                padding: var(--x_padding) var(--y_padding);
                width: max-content;
                font-size: min(3vw, 0.9rem);
                border-radius: 5px;
                cursor: pointer;
            }

            & #filter {
                display: flex;
                align-items: center;
                gap: 10px;
                background-color: var(--black);
                color: var(--white);
                padding: var(--x_padding) var(--y_padding);
                width: max-content;
                font-size: min(3vw, 0.9rem);
                border-radius: 5px;

                & select {
                    border-radius: 5px;
                    min-width: 100px;
                    color: var(--black)
                }

                & #submit {
                    background-color: var(--black);
                    background-image: url("./images/filter.svg");
                    background-size: contain;
                    width: 28px;
                    color: var(--white);
                    border-radius: 5px;
                    cursor: pointer;
                }
            }
        }

        & #img_cont {
            display: flex;
            flex-wrap: wrap;
            align-self: center;
            width: 95%;
            margin: var(--y_gap) 0;
            gap: 2%;
            row-gap: var(--y_gap);

            & .monument {
                display: flex;
                flex-direction: column;
                row-gap: 20px;
                width: 18%;

                & button {
                    background-color: var(--black);
                    color: var(--white);
                    padding: var(--x_padding) var(--y_padding);
                    width: max-content;
                    font-size: min(3vw, 0.9rem);
                    border-radius: 5px;
                    cursor: pointer;
                    align-self: center;

                    &:hover {
                        scale: 1.1;
                        box-shadow: rgba(30, 30, 30, 40%) 5px 5px 5px;
                        transition: all 0.3s ease-in-out;
                    }

                    &:not(:hover) {
                        transition: all 0.3s ease-in-out;
                    }
                }

                & figure {
                    position: relative;
                    aspect-ratio: 1;
                    overflow: hidden;
                    border: var(--black) 1px solid;

                    & img {
                        min-height: 100%;
                        margin: auto;
                        position: absolute;
                        top: 0; right: -50%; bottom: 0; left: -50%;
                        object-fit: cover;
                        cursor: pointer;
                        scale: 1.1;
                        transition: all 0.3s ease-in-out;
                    }

                    & #giza {
                        object-position: 0 3vw;
                    }

                    & #christ {
                        object-position: 0 2.5vw;
                    }

                    & #moai {
                        object-position: 0 2.5vw;
                    }

                    & #stonehenge {
                        object-position: 0 -3vw;
                    }

                    & #potala {
                        object-position: 0 6vw;
                    }

                    & .greyscale {
                        scale: 1.0;
                        filter: grayscale(75%);
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
        }

        & #desc_cont {
            display: flex;
            flex-direction: column;
            background-color: var(--black);
            color: var(--white);
            padding: 15px 2.5%;
            text-align: left;

            & h2 {
                font-size: 2.25rem;
            }

            & #place {
                display: flex;
                gap : 5px;
                padding-bottom: 5px;

                & #city {
                    font-size: 1.2rem;
                    font-weight: 200;
                }
    
                & #country {
                    display: inline;
                    font-size: 1.2rem;
                    font-weight: 400;
                }
            }
            
            & #desc {
                font-size: 0.9rem;
                font-weight: 200;
            }
        }

        & #map_cont  {
            background-color: var(--black);
            padding-bottom: var(--y_gap);
            
            & h2 {
                color: var(--white);
                font-size: 2.25rem;
                padding: 10px 0;
            }

            & iframe {
                width: 90%;
                height: 800px
            }
        }
    }
}